## DB에 임시데이터 입력

In [32]:
from pymongo import MongoClient

In [33]:
#네트워크 연결 규칙: 어떤 형식/어떤 컴퓨터/ 어떤 응용프로그램/어떤 function or Database
client = MongoClient('mongodb://python_jupyternote_mongo-mongodb-1:27017/pandas_db')

db_name = client['pandas_db']

In [34]:
type(db_name)

pymongo.synchronous.database.Database

In [35]:
phone_collection = db_name['phone_list']
type(phone_collection)

pymongo.synchronous.collection.Collection

In [36]:
data = [ {"index": 0, "date": "15/10/14 06:58", "duration": 34.429, "item": "data", "month": "2014-11", "network": "data", "network_type": "data"}
        , {"index": 1, "date": "15/10/14 06:58", "duration": 13.000, "item": "call", "month": "2014-11", "network": "Vodafone", "network_type": "mobile"}
        , {"index": 2, "date": "15/10/14 14:46", "duration": 23.000, "item": "call", "month": "2014-11", "network": "Meteor", "network_type": "mobile"}
        , {"index": 3, "date": "15/10/14 14:48", "duration": 4.000, "item": "call", "month": "2014-11", "network": "Tesco", "network_type": "mobile"}
        , {"index": 4, "date": "15/10/14 17:27", "duration": 4.000, "item": "call", "month": "2014-11", "network": "Tesco", "network_type": "mobile"} ]

In [37]:
result = phone_collection.insert_many(data)

In [38]:
result.inserted_ids

[ObjectId('675b92284c8ebb511505b3e1'),
 ObjectId('675b92284c8ebb511505b3e2'),
 ObjectId('675b92284c8ebb511505b3e3'),
 ObjectId('675b92284c8ebb511505b3e4'),
 ObjectId('675b92284c8ebb511505b3e5')]

## load from DB

In [39]:
find_data = phone_collection.find()
type(find_data)

pymongo.synchronous.cursor.Cursor

In [40]:
phone_data = list(find_data)
phone_data

[{'_id': ObjectId('675b8ded4c8ebb511505b3d5'),
  'index': 0,
  'date': '15/10/14 06:58',
  'duration': 34.429,
  'item': 'data',
  'month': '2014-11',
  'network': 'data',
  'network_type': 'data'},
 {'_id': ObjectId('675b8ded4c8ebb511505b3d6'),
  'index': 1,
  'date': '15/10/14 06:58',
  'duration': 13.0,
  'item': 'call',
  'month': '2014-11',
  'network': 'Vodafone',
  'network_type': 'mobile'},
 {'_id': ObjectId('675b8ded4c8ebb511505b3d7'),
  'index': 2,
  'date': '15/10/14 14:46',
  'duration': 23.0,
  'item': 'call',
  'month': '2014-11',
  'network': 'Meteor',
  'network_type': 'mobile'},
 {'_id': ObjectId('675b8ded4c8ebb511505b3d8'),
  'index': 3,
  'date': '15/10/14 14:48',
  'duration': 4.0,
  'item': 'call',
  'month': '2014-11',
  'network': 'Tesco',
  'network_type': 'mobile'},
 {'_id': ObjectId('675b8ded4c8ebb511505b3d9'),
  'index': 4,
  'date': '15/10/14 17:27',
  'duration': 4.0,
  'item': 'call',
  'month': '2014-11',
  'network': 'Tesco',
  'network_type': 'mobile'},
 {'_id': ObjectId('675b8fef4c8ebb511505b3db'),
  'index': 0,
  'date': '15/10/14 06:58',
  'duration': 34.429,
  'item': 'data',
  'month': '2014-11',
  'network': 'data',
  'network_type': 'data'},
 {'_id': ObjectId('675b8fef4c8ebb511505b3dc'),
  'index': 1,
  'date': '15/10/14 06:58',
  'duration': 13.0,
  'item': 'call',
  'month': '2014-11',
  'network': 'Vodafone',
  'network_type': 'mobile'},
 {'_id': ObjectId('675b8fef4c8ebb511505b3dd'),
  'index': 2,
  'date': '15/10/14 14:46',
  'duration': 23.0,
  'item': 'call',
  'month': '2014-11',
  'network': 'Meteor',
  'network_type': 'mobile'},
 {'_id': ObjectId('675b8fef4c8ebb511505b3de'),
  'index': 3,
  'date': '15/10/14 14:48',
  'duration': 4.0,
  'item': 'call',
  'month': '2014-11',
  'network': 'Tesco',
  'network_type': 'mobile'},
 {'_id': ObjectId('675b8fef4c8ebb511505b3df'),
  'index': 4,
  'date': '15/10/14 17:27',
  'duration': 4.0,
  'item': 'call',
  'month': '2014-11',
  'network': 'Tesco',
  'network_type': 'mobile'},
 {'_id': ObjectId('675b92284c8ebb511505b3e1'),
  'index': 0,
  'date': '15/10/14 06:58',
  'duration': 34.429,
  'item': 'data',
  'month': '2014-11',
  'network': 'data',
  'network_type': 'data'},
 {'_id': ObjectId('675b92284c8ebb511505b3e2'),
  'index': 1,
  'date': '15/10/14 06:58',
  'duration': 13.0,
  'item': 'call',
  'month': '2014-11',
  'network': 'Vodafone',
  'network_type': 'mobile'},
 {'_id': ObjectId('675b92284c8ebb511505b3e3'),
  'index': 2,
  'date': '15/10/14 14:46',
  'duration': 23.0,
  'item': 'call',
  'month': '2014-11',
  'network': 'Meteor',
  'network_type': 'mobile'},
 {'_id': ObjectId('675b92284c8ebb511505b3e4'),
  'index': 3,
  'date': '15/10/14 14:48',
  'duration': 4.0,
  'item': 'call',
  'month': '2014-11',
  'network': 'Tesco',
  'network_type': 'mobile'},
 {'_id': ObjectId('675b92284c8ebb511505b3e5'),
  'index': 4,
  'date': '15/10/14 17:27',
  'duration': 4.0,
  'item': 'call',
  'month': '2014-11',
  'network': 'Tesco',
  'network_type': 'mobile'}]

In [41]:
import pandas as pd

In [42]:
df_phone_list = pd.DataFrame(phone_data,use_cols=[1,2,3])

TypeError: DataFrame.__init__() got an unexpected keyword argument 'use_cols'

In [27]:
df_phone_list.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10 entries, 0 to 9
Data columns (total 8 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   _id           10 non-null     object
 1   index         10 non-null     int64
 2   date          10 non-null     object
 3   duration      10 non-null     float64
 4   item          10 non-null     object
 5   month         10 non-null     object
 6   network       10 non-null     object
 7   network_type  10 non-null     object
dtypes: float64(1), int64(1), object(6)
memory usage: 772.0+ bytes

In [29]:
df_phone_list.describe(include = 'all')

,_id,index,date,duration,item,month,network,network_type
count,10,10.000000,10,10.000000,10,10,10,10
unique,10,NaN,4,NaN,2,1,4,2
top,675b8ded4c8ebb511505b3d5,NaN,15/10/14 06:58,NaN,call,2014-11,Tesco,mobile
freq,1,NaN,4,NaN,8,10,4,8
mean,NaN,2.000000,NaN,15.685800,NaN,NaN,NaN,NaN
std,NaN,1.490712,NaN,12.339048,NaN,NaN,NaN,NaN
min,NaN,0.000000,NaN,4.000000,NaN,NaN,NaN,NaN
25%,NaN,1.000000,NaN,4.000000,NaN,NaN,NaN,NaN
50%,NaN,2.000000,NaN,13.000000,NaN,NaN,NaN,NaN
75%,NaN,3.000000,NaN,23.000000,NaN,NaN,NaN,NaN
max,NaN,4.000000,NaN,34.429000,NaN,NaN,NaN,NaN

## save to DB

In [45]:
#type(df_phone_list)
df_phone_list_without_id = df_phone_list.drop('_id', axis=1)
df_phone_list_without_id

   index            date  duration  item    month   network network_type
0      0  15/10/14 06:58    34.429  data  2014-11      data         data
1      1  15/10/14 06:58    13.000  call  2014-11  Vodafone       mobile
2      2  15/10/14 14:46    23.000  call  2014-11    Meteor       mobile
3      3  15/10/14 14:48     4.000  call  2014-11     Tesco       mobile
4      4  15/10/14 17:27     4.000  call  2014-11     Tesco       mobile
5      0  15/10/14 06:58    34.429  data  2014-11      data         data
6      1  15/10/14 06:58    13.000  call  2014-11  Vodafone       mobile
7      2  15/10/14 14:46    23.000  call  2014-11    Meteor       mobile
8      3  15/10/14 14:48     4.000  call  2014-11     Tesco       mobile
9      4  15/10/14 17:27     4.000  call  2014-11     Tesco       mobile

In [30]:
data_to_insert = df_phone_list.to_dict(orient='records')
data_to_insert

[{'_id': ObjectId('675b8ded4c8ebb511505b3d5'),
  'index': 0,
  'date': '15/10/14 06:58',
  'duration': 34.429,
  'item': 'data',
  'month': '2014-11',
  'network': 'data',
  'network_type': 'data'},
 {'_id': ObjectId('675b8ded4c8ebb511505b3d6'),
  'index': 1,
  'date': '15/10/14 06:58',
  'duration': 13.0,
  'item': 'call',
  'month': '2014-11',
  'network': 'Vodafone',
  'network_type': 'mobile'},
 {'_id': ObjectId('675b8ded4c8ebb511505b3d7'),
  'index': 2,
  'date': '15/10/14 14:46',
  'duration': 23.0,
  'item': 'call',
  'month': '2014-11',
  'network': 'Meteor',
  'network_type': 'mobile'},
 {'_id': ObjectId('675b8ded4c8ebb511505b3d8'),
  'index': 3,
  'date': '15/10/14 14:48',
  'duration': 4.0,
  'item': 'call',
  'month': '2014-11',
  'network': 'Tesco',
  'network_type': 'mobile'},
 {'_id': ObjectId('675b8ded4c8ebb511505b3d9'),
  'index': 4,
  'date': '15/10/14 17:27',
  'duration': 4.0,
  'item': 'call',
  'month': '2014-11',
  'network': 'Tesco',
  'network_type': 'mobile'},
 {'_id': ObjectId('675b8fef4c8ebb511505b3db'),
  'index': 0,
  'date': '15/10/14 06:58',
  'duration': 34.429,
  'item': 'data',
  'month': '2014-11',
  'network': 'data',
  'network_type': 'data'},
 {'_id': ObjectId('675b8fef4c8ebb511505b3dc'),
  'index': 1,
  'date': '15/10/14 06:58',
  'duration': 13.0,
  'item': 'call',
  'month': '2014-11',
  'network': 'Vodafone',
  'network_type': 'mobile'},
 {'_id': ObjectId('675b8fef4c8ebb511505b3dd'),
  'index': 2,
  'date': '15/10/14 14:46',
  'duration': 23.0,
  'item': 'call',
  'month': '2014-11',
  'network': 'Meteor',
  'network_type': 'mobile'},
 {'_id': ObjectId('675b8fef4c8ebb511505b3de'),
  'index': 3,
  'date': '15/10/14 14:48',
  'duration': 4.0,
  'item': 'call',
  'month': '2014-11',
  'network': 'Tesco',
  'network_type': 'mobile'},
 {'_id': ObjectId('675b8fef4c8ebb511505b3df'),
  'index': 4,
  'date': '15/10/14 17:27',
  'duration': 4.0,
  'item': 'call',
  'month': '2014-11',
  'network': 'Tesco',
  'network_type': 'mobile'}]

In [31]:
phone_collection.insert_many(data_to_insert)

BulkWriteError: batch op errors occurred, full error: {'writeErrors': [{'index': 0, 'code': 11000, 'errmsg': "E11000 duplicate key error collection: pandas_db.phone_list index: _id_ dup key: { _id: ObjectId('675b8ded4c8ebb511505b3d5') }", 'keyPattern': {'_id': 1}, 'keyValue': {'_id': ObjectId('675b8ded4c8ebb511505b3d5')}, 'op': {'_id': ObjectId('675b8ded4c8ebb511505b3d5'), 'index': 0, 'date': '15/10/14 06:58', 'duration': 34.429, 'item': 'data', 'month': '2014-11', 'network': 'data', 'network_type': 'data'}}], 'writeConcernErrors': [], 'nInserted': 0, 'nUpserted': 0, 'nMatched': 0, 'nModified': 0, 'nRemoved': 0, 'upserted': []}

In [46]:
result = phone_collection.insert_many(data_to_insert)

BulkWriteError: batch op errors occurred, full error: {'writeErrors': [{'index': 0, 'code': 11000, 'errmsg': "E11000 duplicate key error collection: pandas_db.phone_list index: _id_ dup key: { _id: ObjectId('675b8ded4c8ebb511505b3d5') }", 'keyPattern': {'_id': 1}, 'keyValue': {'_id': ObjectId('675b8ded4c8ebb511505b3d5')}, 'op': {'_id': ObjectId('675b8ded4c8ebb511505b3d5'), 'index': 0, 'date': '15/10/14 06:58', 'duration': 34.429, 'item': 'data', 'month': '2014-11', 'network': 'data', 'network_type': 'data'}}], 'writeConcernErrors': [], 'nInserted': 0, 'nUpserted': 0, 'nMatched': 0, 'nModified': 0, 'nRemoved': 0, 'upserted': []}

In [47]:
result.inserted_ids

[ObjectId('675b92284c8ebb511505b3e1'),
 ObjectId('675b92284c8ebb511505b3e2'),
 ObjectId('675b92284c8ebb511505b3e3'),
 ObjectId('675b92284c8ebb511505b3e4'),
 ObjectId('675b92284c8ebb511505b3e5')]