##주요 구성 요소

    -DataFrame = columns + values + index

In [1]:
import pandas as pd

In [2]:
data = { '종목코드': ['037730', '036360', '005670']
        , '종목명': ['3R', '3SOFT', 'ACTS']
        , '현재가': [1510, 1790, 1185]
        , '등락률': [7.36, 1.65, 1.28] 
}
df_components = pd.DataFrame(data)
df_components

     종목코드    종목명   현재가   등락률
0  037730     3R  1510  7.36
1  036360  3SOFT  1790  1.65
2  005670   ACTS  1185  1.28

In [3]:
print(type(df_components.values))
df_components.values

<class 'numpy.ndarray'>

array([['037730', '3R', 1510, 7.36],
       ['036360', '3SOFT', 1790, 1.65],
       ['005670', 'ACTS', 1185, 1.28]], dtype=object)

In [4]:
print(type(df_components.columns))
df_components.columns

<class 'pandas.core.indexes.base.Index'>

Index(['종목코드', '종목명', '현재가', '등락률'], dtype='object')

In [5]:
#데이터 타입 형 변환
print(type(df_components.calues.tolist()))
df_components.values.tolist()

AttributeError: 'DataFrame' object has no attribute 'calues'

In [11]:
print(type(df_components.columns))
df_components.columns

<class 'pandas.core.indexes.base.Index'>

Index(['종목코드', '종목명', '현재가', '등락률'], dtype='object')

In [12]:
df_components.columns.tolist()

['종목코드', '종목명', '현재가', '등락률']

In [20]:
df_components.index

RangeIndex(start=0, stop=3, step=1)

In [21]:
df_components.set_index(keys="종목코드")
df_components

     종목코드    종목명   현재가   등락률
0  037730     3R  1510  7.36
1  036360  3SOFT  1790  1.65
2  005670   ACTS  1185  1.28

In [22]:
df_components.index

RangeIndex(start=0, stop=3, step=1)

In [23]:
df_components.index.to_list()

[0, 1, 2]

In [19]:
df_components.index.name

In [24]:
type(df_components.index)

pandas.core.indexes.range.RangeIndex

In [25]:
df_components = df_components.reset_index()
# df_components.reset_index(inplace=True)   #동일기능
df_components

   index    종목코드    종목명   현재가   등락률
0      0  037730     3R  1510  7.36
1      1  036360  3SOFT  1790  1.65
2      2  005670   ACTS  1185  1.28

### more info

In [6]:
#df_components.head()
#df_components.loc[:2]
#df_components.loc[1:-1]
df_components.tail()

     종목코드    종목명   현재가   등락률
0  037730     3R  1510  7.36
1  036360  3SOFT  1790  1.65
2  005670   ACTS  1185  1.28

### 다중 컬럼 정렬

In [10]:
#df_components.sort_values(by=['종목명'], ascending=[True])
df_components.sort_values(by=['종목명'], ascending=[False])

     종목코드    종목명   현재가   등락률
2  005670   ACTS  1185  1.28
1  036360  3SOFT  1790  1.65
0  037730     3R  1510  7.36

In [11]:
df_components.sort_values(by=['현재가', '등락률'], ascending=[True, False])

     종목코드    종목명   현재가   등락률
2  005670   ACTS  1185  1.28
0  037730     3R  1510  7.36
1  036360  3SOFT  1790  1.65