### row 인덱싱

In [2]:
import pandas as pd

In [3]:
data = { '종목코드': ['037730', '036360', '005670']
        , '종목명': ['3R', '3SOFT', 'ACTS']
        , '현재가': [1510, 1790, 1185]
        , '등락률': [7.36, 1.65, 1.28] 
}
df_components = pd.DataFrame(data)
df_components

     종목코드    종목명   현재가   등락률
0  037730     3R  1510  7.36
1  036360  3SOFT  1790  1.65
2  005670   ACTS  1185  1.28

In [5]:
df_components.set_index(keys = '종목코드', inplace = True)

In [6]:
df_components

          종목명   현재가   등락률
종목코드
037730     3R  1510  7.36
036360  3SOFT  1790  1.65
005670   ACTS  1185  1.28

### row 인덱싱
iloc, loc

In [7]:
df_components.index

Index(['037730', '036360', '005670'], dtype='object', name='종목코드')

In [17]:
df_components.columns

Index(['종목명', '현재가', '등락률'], dtype='object')

In [10]:
#df_components.iloc[1], type(df_components.iloc[1])
df_components.loc['036360'], type(df_components.loc['036360'])

(종목명    3SOFT
 현재가     1790
 등락률     1.65
 Name: 036360, dtype: object,
 pandas.core.series.Series)

결과는 Dataframe

In [14]:
#df_components.iloc[1:3,0:2]
#df_components.iloc[:,0:2] #행은 모두
df_components.iloc[1:3, :] #열은 모두

          종목명   현재가
종목코드
037730     3R  1510
036360  3SOFT  1790
005670   ACTS  1185

In [15]:
df_components.loc['036360':'005670']  #행 중심

          종목명   현재가   등락률
종목코드
036360  3SOFT  1790  1.65
005670   ACTS  1185  1.28

In [16]:
df_components.loc['036360':'005670', '현재가':'등락률']

         현재가   등락률
종목코드
036360  1790  1.65
005670  1185  1.28

### 명칭 접근 기법

In [21]:
#dataframe은 행과 열로 구성
#df_components.loc[['037730','005670']]
#df_components.loc[['037730','005670'], ['종목명','등락률']]
df_components.loc[['037730','005670'], :]       #데이터프레임에선 슬라이싱이 제일 중요

         종목명   등락률
종목코드
037730    3R  7.36
005670  ACTS  1.28

### 조건식 적용

In [22]:
conditions = df_components.loc[:,'현재가'] < 1700

In [23]:
conditions

종목코드
037730     True
036360    False
005670     True
Name: 현재가, dtype: bool

In [25]:
#df_components.loc[conditions]
df_components.loc[~conditions]  #부정(false-true)

          종목명   현재가   등락률
종목코드
036360  3SOFT  1790  1.65