## 집계 함수

In [2]:
import pandas as pd

In [3]:
data = { '종목코드': ['037730', '036360', '005670']
        , '종목명': ['3R', '3SOFT', 'ACTS']
        , '현재가': [1510, 1790, 1185]
        , '등락률': [7.36, 1.65, 1.28] 
}
df_components = pd.DataFrame(data)
df_components

     종목코드    종목명   현재가   등락률
0  037730     3R  1510  7.36
1  036360  3SOFT  1790  1.65
2  005670   ACTS  1185  1.28

### 대표값 : sum(), min(), max(),mean(), median()

In [4]:
df_components[['현재가']].sum(), df_components[['현재가']].min(), df_components[['현재가']].max(),

(현재가    4485
 dtype: int64,
 현재가    1185
 dtype: int64,
 현재가    1790
 dtype: int64)

In [5]:
df_components[['현재가']].mean(), df_components[['현재가']].median()

(현재가    1495.0
 dtype: float64,
 현재가    1510.0
 dtype: float64)

### group by

In [6]:
data = [
    ["2차전지(생산)", "SK이노베이션", 10.19, 1.29],
    ["해운", "팬오션", 21.23, 0.95],
    ["시스템반도체", "티엘아이", 35.97, 1.12],
    ["해운", "HMM", 21.52, 3.20],
    ["시스템반도체", "아이에이", 37.32, 3.55],
    ["2차전지(생산)", "LG화학", 83.06, 3.75]
]

columns = ["테마", "종목명", "PER", "PBR"]
df_first = pd.DataFrame(data=data, columns=columns)
df_first

         테마      종목명    PER   PBR
0  2차전지(생산)  SK이노베이션  10.19  1.29
1        해운      팬오션  21.23  0.95
2    시스템반도체     티엘아이  35.97  1.12
3        해운      HMM  21.52  3.20
4    시스템반도체     아이에이  37.32  3.55
5  2차전지(생산)     LG화학  83.06  3.75

### like conditions

In [9]:
df_first[df_first['테마'] == '2차전지(생산)']

         테마      종목명    PER   PBR
0  2차전지(생산)  SK이노베이션  10.19  1.29
5  2차전지(생산)     LG화학  83.06  3.75

In [10]:
df_conditions_first = df_first[df_first['테마'] == '2차전지(생산)']
df_conditions_first

         테마      종목명    PER   PBR
0  2차전지(생산)  SK이노베이션  10.19  1.29
5  2차전지(생산)     LG화학  83.06  3.75

In [11]:
df_conditions_first['PER'].mean()

46.625

### group by

In [14]:
#df_first.groupby('테마').get_group('2차전지(생산)')
df_first.groupby('테마').get_group('해운')

   테마  종목명    PER   PBR
1  해운  팬오션  21.23  0.95
3  해운  HMM  21.52  3.20

In [20]:
#df_first.groupby('테마')['PER'].mean()
df_first.groupby('테마')[['PER','PBR']].mean()

             PER    PBR
테마
2차전지(생산)  46.625  2.520
시스템반도체    36.645  2.335
해운        21.375  2.075

### groupby with agg()

In [24]:
#df_first.groupby('테마').agg({'PER':min, 'PBR':max, })
df_first.groupby('테마').agg({'PER':[max,min], 'PBR':[max, min]})

/tmp/ipykernel_45741/1095785427.py:2: FutureWarning: The provided callable <built-in function max> is currently using SeriesGroupBy.max. In a future version of pandas, the provided callable will be used directly. To keep current behavior pass the string "max" instead.
  df_first.groupby('테마').agg({'PER':[max,min], 'PBR':[max, min]})
/tmp/ipykernel_45741/1095785427.py:2: FutureWarning: The provided callable <built-in function min> is currently using SeriesGroupBy.min. In a future version of pandas, the provided callable will be used directly. To keep current behavior pass the string "min" instead.
  df_first.groupby('테마').agg({'PER':[max,min], 'PBR':[max, min]})
/tmp/ipykernel_45741/1095785427.py:2: FutureWarning: The provided callable <built-in function max> is currently using SeriesGroupBy.max. In a future version of pandas, the provided callable will be used directly. To keep current behavior pass the string "max" instead.
  df_first.groupby('테마').agg({'PER':[max,min], 'PBR':[max, min]})

            PER          PBR
            max    min   max   min
테마
2차전지(생산)  83.06  10.19  3.75  1.29
시스템반도체    37.32  35.97  3.55  1.12
해운        21.52  21.23  3.20  0.95