## 집계 함수

In [2]:
import pandas as pd

In [3]:
data = { '종목코드': ['037730', '036360', '005670']
        , '종목명': ['3R', '3SOFT', 'ACTS']
        , '현재가': [1510, 1790, 1185]
        , '등락률': [7.36, 1.65, 1.28] 
}
df_components = pd.DataFrame(data)
df_components

     종목코드    종목명   현재가   등락률
0  037730     3R  1510  7.36
1  036360  3SOFT  1790  1.65
2  005670   ACTS  1185  1.28

### 대표값 : sum(), min(), max(),mean(), median()

In [4]:
df_components[['현재가']].sum(), df_components[['현재가']].min(), df_components[['현재가']].max(),

(현재가    4485
 dtype: int64,
 현재가    1185
 dtype: int64,
 현재가    1790
 dtype: int64)

In [5]:
df_components[['현재가']].mean(), df_components[['현재가']].median()

(현재가    1495.0
 dtype: float64,
 현재가    1510.0
 dtype: float64)

### group by

In [6]:
data = [
    ["2차전지(생산)", "SK이노베이션", 10.19, 1.29],
    ["해운", "팬오션", 21.23, 0.95],
    ["시스템반도체", "티엘아이", 35.97, 1.12],
    ["해운", "HMM", 21.52, 3.20],
    ["시스템반도체", "아이에이", 37.32, 3.55],
    ["2차전지(생산)", "LG화학", 83.06, 3.75]
]

columns = ["테마", "종목명", "PER", "PBR"]
df_first = pd.DataFrame(data=data, columns=columns)
df_first

         테마      종목명    PER   PBR
0  2차전지(생산)  SK이노베이션  10.19  1.29
1        해운      팬오션  21.23  0.95
2    시스템반도체     티엘아이  35.97  1.12
3        해운      HMM  21.52  3.20
4    시스템반도체     아이에이  37.32  3.55
5  2차전지(생산)     LG화학  83.06  3.75

### like conditions

In [7]:
df_first[df_first['테마] == '2차전지']

SyntaxError: unterminated string literal (detected at line 1) (4002784590.py, line 1)