## 집계 함수

In [2]:
import pandas as pd

In [3]:
data = { '종목코드': ['037730', '036360', '005670']
        , '종목명': ['3R', '3SOFT', 'ACTS']
        , '현재가': [1510, 1790, 1185]
        , '등락률': [7.36, 1.65, 1.28] 
}
df_components = pd.DataFrame(data)
df_components

     종목코드    종목명   현재가   등락률
0  037730     3R  1510  7.36
1  036360  3SOFT  1790  1.65
2  005670   ACTS  1185  1.28

### 대표값 : sum(), min(), max(),mean(), median()

In [6]:
df_components[['현재가']].sum(), df_components[['현재가']].min(), df_components[['현재가']].max(),

(현재가    4485
 dtype: int64,
 현재가    1185
 dtype: int64,
 현재가    1790
 dtype: int64)

In [7]:
df_components[['현재가']].mean(), df_components[['현재가']].median()

(현재가    1495.0
 dtype: float64,
 현재가    1510.0
 dtype: float64)