### row / column 추가

In [2]:
import pandas as pd

In [3]:
data = [
    ["3R", 1510, 7.36],
    ["3SOFT", 1790, 1.65],
    ["ACTS", 1185, 1.28]
]

index = ["037730", "036360", "005760"]
columns = ["종목명", "현재가", "등락률"]
df = pd.DataFrame(data=data, index=index, columns=columns)
df

          종목명   현재가   등락률
037730     3R  1510  7.36
036360  3SOFT  1790  1.65
005760   ACTS  1185  1.28

#### add row

In [6]:
df.loc['005760',:]

종목명    ACTS
현재가    1185
등락률    1.28
Name: 005760, dtype: object

In [7]:
#update

df.loc['005760',:] = ['ACTS', 1255, '1.28']

/tmp/ipykernel_17760/79854774.py:1: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise an error in a future version of pandas. Value '1.28' has dtype incompatible with float64, please explicitly cast to a compatible dtype first.
  df.loc['005760',:] = ['ACTS', 1255, '1.28']

In [10]:
df

          종목명    현재가   등락률
037730     3R   1510  7.36
036360  3SOFT   1790  1.65
005760   ACTS   1255  1.28
066570   LG전자  60000  3.84

In [9]:
#항목바꾸기(업데이트)
df.loc['066570'] = ['LG전자', 60000, 3.84]

### add columns

In [13]:
# add
df['괴리율'] = [0.1, 0.2, 0.3, 0.4]

In [19]:
df

          종목명    현재가   등락률       괴리율   목표가
037730     3R   1510  7.36  0.059603  1600
036360  3SOFT   1790  1.65 -0.106145  1600
005760   ACTS   1255  1.28  0.274900  1600
066570   LG전자  60000  3.84 -0.973333  1600

In [15]:
df['목표가'] = [1600] * 4

In [18]:
#update( 목표가 - 현재가 / 현재가 = 괴리율) - > 0 이하 좋음
df['괴리율'] = (df['목표가'] - df['현재가']) / df['현재가']