## Timestamp

In [1]:
import pandas as pd

### datetime
- 형식만 맞출 때: 년 월 일 시 분 초ms

In [14]:
ts_first = pd.to_datetime('2021-01-02')
ts_second = pd.to_datetime('2021-01-02 09:21:20')
ts_third = pd.to_datetime('20210102 092221')
ts_fourth = pd.to_datetime('06/08/21', format='%d/%m/%y')

In [15]:
type(ts_first), ts_first, type(ts_second) , ts_second, type(ts_third), ts_third, type(ts_fourth), ts_fourth

(pandas._libs.tslibs.timestamps.Timestamp,
 Timestamp('2021-01-02 00:00:00'),
 pandas._libs.tslibs.timestamps.Timestamp,
 Timestamp('2021-01-02 09:21:20'),
 pandas._libs.tslibs.timestamps.Timestamp,
 Timestamp('2021-01-02 09:22:21'),
 pandas._libs.tslibs.timestamps.Timestamp,
 Timestamp('2021-08-06 00:00:00'))

In [17]:
ts_second.year, ts_second.month, ts_second.day, ts_second.hour, ts_second.minute, ts_second.second

(2021, 1, 2, 9, 21, 20)

In [19]:
ts_second.weekday(), ts_second.quarter

(5, 1)

In [21]:
day = 1628899200 / 60 / 60 / 24
year = day / 365
#print(year)
pd.to_datetime(1628899200, unit = 's')

Timestamp('2021-08-14 00:00:00')

#### timestamp 원하는 값으로 출력

In [34]:
#ts_third.strftime('%y / %m / %d')
ts_third, ts_third.strftime('%Y / %m / %d - %H : %M : %S')

(Timestamp('2021-01-02 09:22:21'), '2021 / 01 / 02 - 09 : 22 : 21')

### timedelta
-일시간 계산

In [25]:
#td_first = pd.Timedelta(days=30)
td_first = pd.Timedelta(hours=2, minutes=30, seconds=20)
type(td_first), td_first

(pandas._libs.tslibs.timedeltas.Timedelta, Timedelta('0 days 02:30:20'))

In [26]:
ts_result_first = ts_second + td_first
type(ts_result_first), ts_result_first, ts_second

(pandas._libs.tslibs.timestamps.Timestamp,
 Timestamp('2021-01-02 11:51:40'),
 Timestamp('2021-01-02 09:21:20'))

### 시계열 date 다루기

In [35]:
candidates = ['2024-11-01', '2024-11-02', '2024-11-03','2024-11-04']
type(candidates[0])

str

In [36]:
dt_first = pd.to_datetime(candidates)
type(dt_first), dt_first

(pandas.core.indexes.datetimes.DatetimeIndex,
 DatetimeIndex(['2024-11-01', '2024-11-02', '2024-11-03', '2024-11-04'], dtype='datetime64[ns]', freq=None))

In [38]:
type(dt_first[0]), dt_first[0]

(pandas._libs.tslibs.timestamps.Timestamp, Timestamp('2024-11-01 00:00:00'))

In [39]:
dt_first.quarter

Index([4, 4, 4, 4], dtype='int32')

### with data

In [58]:
data = [
    {'시가': 100, '고가': 110, '저가': 90, '종가': 105}, 
    {'시가': 100, '고가': 112, '저가': 80, '종가':  95}, 
    {'시가':  99, '고가': 115, '저가': 70, '종가':  85}, 
    {'시가':  70, '고가':  80, '저가': 60, '종가':  75}, 
    {'시가': 100, '고가': 110, '저가': 90, '종가': 105}, 
    {'시가': 100, '고가': 112, '저가': 80, '종가':  95}, 
    {'시가':  99, '고가': 115, '저가': 70, '종가':  85}, 
    {'시가':  70, '고가':  80, '저가': 60, '종가':  75}, 
]


indices=['20200615', '20200616', '20200717', '20200718'
       ,'20200615', '20200616', '20200717', '20200718'] 
df_first = pd.DataFrame(data, index = indices)
df_first

           시가   고가  저가   종가
20200615  100  110  90  105
20200616  100  112  80   95
20200717   99  115  70   85
20200718   70   80  60   75
20200615  100  110  90  105
20200616  100  112  80   95
20200717   99  115  70   85
20200718   70   80  60   75

In [59]:
#df_first.loc['202006']
#conditions = df_first.index.str[:5] == '202006'
conditions = df_first.index.str[:4] == '2020'

conditions

array([ True,  True,  True,  True,  True,  True,  True,  True])

In [60]:
df_first.index

Index(['20200615', '20200616', '20200717', '20200718', '20200615', '20200616',
       '20200717', '20200718'],
      dtype='object')

In [61]:
df_first.index = pd.to_datetime(df_first.index)
df_first.index

DatetimeIndex(['2020-06-15', '2020-06-16', '2020-07-17', '2020-07-18',
               '2020-06-15', '2020-06-16', '2020-07-17', '2020-07-18'],
              dtype='datetime64[ns]', freq=None)

In [62]:
df_first

             시가   고가  저가   종가
2020-06-15  100  110  90  105
2020-06-16  100  112  80   95
2020-07-17   99  115  70   85
2020-07-18   70   80  60   75
2020-06-15  100  110  90  105
2020-06-16  100  112  80   95
2020-07-17   99  115  70   85
2020-07-18   70   80  60   75

In [63]:
df_first.index[0]

Timestamp('2020-06-15 00:00:00')

In [64]:
df_first.index.quarter

Index([2, 2, 3, 3, 2, 2, 3, 3], dtype='int32')

In [66]:
#df_first.loc['2020-07']
#df_first.loc['2020-07','시가]
df_first.loc['2020', '시가']

2020-06-15    100
2020-06-16    100
2020-07-17     99
2020-07-18     70
2020-06-15    100
2020-06-16    100
2020-07-17     99
2020-07-18     70
Name: 시가, dtype: int64

### 컬럼에서 date 다루기

In [67]:
df_first['datetimes'] = df_first.index
df_first

             시가   고가  저가   종가  datetimes
2020-06-15  100  110  90  105 2020-06-15
2020-06-16  100  112  80   95 2020-06-16
2020-07-17   99  115  70   85 2020-07-17
2020-07-18   70   80  60   75 2020-07-18
2020-06-15  100  110  90  105 2020-06-15
2020-06-16  100  112  80   95 2020-06-16
2020-07-17   99  115  70   85 2020-07-17
2020-07-18   70   80  60   75 2020-07-18

In [68]:
df_first.info()

<class 'pandas.core.frame.DataFrame'>
DatetimeIndex: 8 entries, 2020-06-15 to 2020-07-18
Data columns (total 5 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   시가         8 non-null      int64
 1   고가         8 non-null      int64
 2   저가         8 non-null      int64
 3   종가         8 non-null      int64
 4   datetimes  8 non-null      datetime64[ns]
dtypes: datetime64[ns](1), int64(4)
memory usage: 384.0 bytes

object
숫자형
date
기억하기

In [69]:
#df_first['datetimes'].dt.year
df_first['datetimes']

2020-06-15   2020-06-15
2020-06-16   2020-06-16
2020-07-17   2020-07-17
2020-07-18   2020-07-18
2020-06-15   2020-06-15
2020-06-16   2020-06-16
2020-07-17   2020-07-17
2020-07-18   2020-07-18
Name: datetimes, dtype: datetime64[ns]

In [72]:
df_first['시가']

2020-06-15    100
2020-06-16    100
2020-07-17     99
2020-07-18     70
2020-06-15    100
2020-06-16    100
2020-07-17     99
2020-07-18     70
Name: 시가, dtype: int64