### 열을 행 방향으로 이동

#### Shift

In [4]:
import pandas as pd

In [5]:
data = [
    {'시가': 100, '고가': 110, '저가': 90, '종가': 105}, 
    {'시가': 100, '고가': 112, '저가': 80, '종가':  95}, 
    {'시가':  99, '고가': 115, '저가': 70, '종가':  85}, 
    {'시가':  70, '고가':  80, '저가': 60, '종가':  75}, 
    {'시가': 100, '고가': 110, '저가': 90, '종가': 105}, 
    {'시가': 100, '고가': 112, '저가': 80, '종가':  95}, 
    {'시가':  99, '고가': 115, '저가': 70, '종가':  85}, 
    {'시가':  70, '고가':  80, '저가': 60, '종가':  75}, 
]

indices =['20200615', '20200616', '20200717', '20200718'
                               ,'20200615', '20200616', '20200717', '20200718']
df_first = pd.DataFrame(data, index = indices)
df_first.index = pd.to_datetime(df_first.index)
df_first.index

DatetimeIndex(['2020-06-15', '2020-06-16', '2020-07-17', '2020-07-18',
               '2020-06-15', '2020-06-16', '2020-07-17', '2020-07-18'],
              dtype='datetime64[ns]', freq=None)

### 전날 종가와 차이

In [11]:
#df_first['전일종가']= df_first['종가'].shift(periods=1)
df_first['3일종가'] = df_first['종가'].shift(periods=3)
df_first

             시가   고가  저가   종가   전일종가   3일종가
2020-06-15  100  110  90  105    NaN    NaN
2020-06-16  100  112  80   95  105.0    NaN
2020-07-17   99  115  70   85   95.0    NaN
2020-07-18   70   80  60   75   85.0  105.0
2020-06-15  100  110  90  105   75.0   95.0
2020-06-16  100  112  80   95  105.0   85.0
2020-07-17   99  115  70   85   95.0   75.0
2020-07-18   70   80  60   75   85.0  105.0

In [13]:
conditions = df_first['종가'] > df_first['전일종가']
conditions

2020-06-15    False
2020-06-16    False
2020-07-17    False
2020-07-18    False
2020-06-15     True
2020-06-16    False
2020-07-17    False
2020-07-18    False
dtype: bool

In [14]:
df_first[conditions]

             시가   고가  저가   종가  전일종가  3일종가
2020-06-15  100  110  90  105  75.0  95.0

In [17]:
df_first['종가'] - df_first['전일종가'] >= 10

2020-06-15    False
2020-06-16    False
2020-07-17    False
2020-07-18    False
2020-06-15     True
2020-06-16    False
2020-07-17    False
2020-07-18    False
dtype: bool