### 시장 수익률(복리 연평균 성장률)
- CGRA(Compound Annual Growth Rate)
- 기간 + 물가 지수
- 시장수익률 = 수익률 ^(1/투자기간)

In [16]:
import pandas as pd

In [17]:
# API 사용
import FinanceDataReader as fdr
symbol_kospi = fdr.DataReader('KS11', '2021', '2022')
symbol_kospi

,Open,High,Low,Close,Volume,Change,UpDown,Comp,Amount,MarCap
Date,,,,,,,,,,
2021-01-04,2874.50,2946.54,2869.11,2944.45,1026510465,0.0247,1,70.98,25011393960858,2028846031822322
2021-01-05,2943.67,2990.57,2921.84,2990.57,1519911750,0.0157,1,46.12,26548380179493,2059743507955076
2021-01-06,2993.34,3027.16,2961.37,2968.21,1793418534,-0.0075,2,-22.36,29909396443430,2044102754101965
2021-01-07,2980.75,3055.28,2980.75,3031.68,1524654500,0.0214,1,63.47,27182807334912,2086578562420457
2021-01-08,3040.11,3161.11,3040.11,3152.18,1297903388,0.0397,1,120.50,40909490005818,2170537648432200
...,...,...,...,...,...,...,...,...,...,...
2021-12-24,3009.48,3025.77,3009.48,3012.43,537548258,0.0048,1,14.26,8583472759012,2230019405753961
2021-12-27,3013.94,3017.31,2999.30,2999.55,475363053,-0.0043,2,-12.88,8280394735651,2221527069263787
2021-12-28,3006.77,3020.29,2991.55,3020.24,607046190,0.0069,1,20.69,12096893607293,2237623537207572
2021-12-29,3002.90,3007.72,2988.67,2993.29,545831859,-0.0089,2,-26.95,10908667230981,2215462631908994
2021-12-30,2999.75,3005.36,2975.74,2977.65,461038202,-0.0052,2,-15.64,8727458062998,2203366545861792

In [18]:
symbol_kospi.info()

<class 'pandas.core.frame.DataFrame'>
DatetimeIndex: 248 entries, 2021-01-04 to 2021-12-30
Data columns (total 10 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   Open    248 non-null    float64
 1   High    248 non-null    float64
 2   Low     248 non-null    float64
 3   Close   248 non-null    float64
 4   Volume  248 non-null    int64
 5   Change  248 non-null    float64
 6   UpDown  248 non-null    int64
 7   Comp    248 non-null    float64
 8   Amount  248 non-null    int64
 9   MarCap  248 non-null    int64
dtypes: float64(6), int64(4)
memory usage: 21.3 KB

In [19]:
symbol_kospi.iloc[0,3], symbol_kospi.iloc[-1,3]

(2944.45, 2977.65)

In [20]:
#수익률 = 매도 가격 / 매수 가격
rateofreturn= symbol_kospi.iloc[-1,3] / symbol_kospi.iloc[0,3]
rateofreturn

1.0112754504236785

In [21]:
#투자기간
diff_datetime = symbol_kospi.index[-1] - symbol_kospi.index[0]
diff_datetime, type(diff_datetime)

(Timedelta('360 days 00:00:00'), pandas._libs.tslibs.timedeltas.Timedelta)

In [22]:
#시장 수익률 (복리 포함)
cagr = rateofreturn ** (1/(diff_datetime.days / 365)) - 1
cagr

0.011432945752259283

## 숫자만큼 분류

In [23]:
# 예제 데이터: 나이 리스트 
ages = [5, 12, 17, 18, 24, 35, 45, 64, 75] 

# 나이를 구간으로 나누기 
bins = [0, 12, 19, 35, 60, 100] # 구간 정의 
labels = ['어린이', '청소년', '청년', '중장년', '노년'] # 각 구간에 붙일 라벨

In [25]:
age_groups = pd.cut(ages, bins=bins, labels=labels)
age_groups

['어린이', '어린이', '청소년', '청소년', '청년', '청년', '중장년', '노년', '노년']
Categories (5, object): ['어린이' < '청소년' < '청년' < '중장년' < '노년']

In [26]:
data = {'나이':ages, '연령대':age_groups}
pd.DataFrame(data)

   나이  연령대
0   5  어린이
1  12  어린이
2  17  청소년
3  18  청소년
4  24   청년
5  35   청년
6  45  중장년
7  64   노년
8  75   노년

#### bins 숫자 입력

In [30]:
bin = 3
labels = ['청소년', '청년', '중장년']
pd.cut(ages, bins=bin, labels=labels)

['청소년', '청소년', '청소년', '청소년', '청소년', '청년', '청년', '중장년', '중장년']
Categories (3, object): ['청소년' < '청년' < '중장년']