## 주기성 투자 전략
- 월, 분기, 년, 단위 변화 이용 전략

### 할로윈 투자
- 매수는 11월, 매도는 4월

In [62]:
# API 사용
import FinanceDataReader as fdr
#symbol_sp500 = fdr.DataReader('S&P500', '2001','2023-12')
symbol_sp500 = fdr.DataReader('KS11', '2001','2023-12')
symbol_sp500.tail()

,Open,High,Low,Close,Volume,Change,UpDown,Comp,Amount,MarCap
Date,,,,,,,,,,
2023-11-27,2501.83,2511.37,2489.18,2495.66,364743731,-0.0004,2,-0.97,8376475664368,1.994295e+15
2023-11-28,2506.14,2522.45,2502.26,2521.76,443089715,0.0105,1,26.10,8753423571555,2.017729e+15
2023-11-29,2518.80,2523.98,2501.44,2519.81,579271100,-0.0008,2,-1.95,9428200342491,2.015730e+15
2023-11-30,2512.11,2535.29,2507.80,2535.29,664284035,0.0061,1,15.48,11992488473054,2.027777e+15
2023-12-01,2520.49,2520.49,2504.06,2505.01,516596238,-0.0119,2,-30.28,8837749634076,2.004297e+15

In [63]:
symbol_sp500.info(), symbol_sp500.index

<class 'pandas.core.frame.DataFrame'>
DatetimeIndex: 5664 entries, 2001-01-02 to 2023-12-01
Data columns (total 10 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   Open    5664 non-null   float64
 1   High    5664 non-null   float64
 2   Low     5664 non-null   float64
 3   Close   5664 non-null   float64
 4   Volume  5664 non-null   int64
 5   Change  5664 non-null   float64
 6   UpDown  5664 non-null   int64
 7   Comp    5664 non-null   float64
 8   Amount  5664 non-null   int64
 9   MarCap  5557 non-null   float64
dtypes: float64(7), int64(3)
memory usage: 486.8 KB

(None,
 DatetimeIndex(['2001-01-02', '2001-01-03', '2001-01-04', '2001-01-05',
                '2001-01-08', '2001-01-09', '2001-01-10', '2001-01-11',
                '2001-01-12', '2001-01-15',
                ...
                '2023-11-20', '2023-11-21', '2023-11-22', '2023-11-23',
                '2023-11-24', '2023-11-27', '2023-11-28', '2023-11-29',
                '2023-11-30', '2023-12-01'],
               dtype='datetime64[ns]', name='Date', length=5664, freq=None))

### 수익율 백테스팅 비교
-CAGR vs 단순보유 수익률

In [64]:
#symbol_sp500.loc['2001-11']
#symbol_sp500.loc['2001-11'].iloc[0] #Serise
#symbol_sp500.loc['2001-11'].iloc[0].loc['Close']    #value
buy_price = symbol_sp500.loc['2001-11'].iloc[0].loc['Open']    #value
sell_price = symbol_sp500.loc['2002-04'].iloc[-1].loc['Close']    #value

buy_price, sell_price

(540.63, 842.34)

In [65]:
# halloween 전략 시 누적 수익률 + 원금 보장형 년 이익율
# rateofreturn = buy_price / sell_price
# cum_rateofreturn = 1 * rateofreturn

In [66]:
cum_rateofreturn = 1
for year in range(2001, 2023):
    buy_year_month = str(year) + '-11'
    sell_year_month = str(year+1) + '-04'
    buy_price = symbol_sp500.loc[buy_year_month].iloc[0].loc['Open']   
    sell_price = symbol_sp500.loc[sell_year_month].iloc[-1].loc['Close'] 
    
    rateofreturn = sell_price / buy_price
    cum_rateofreturn = cum_rateofreturn * rateofreturn
    
cum_rateofreturn

5.517942199249924

In [67]:
ranges = 22 # 년단위 투자기간
CAGR = ((cum_rateofreturn **(1/ranges)) - 1) * 100
CAGR

8.072984028778386

In [68]:
# 무개념 단순 수익률
simple_cum_rateofreturn = symbol_sp500.iloc[-1].loc['Close'] / symbol_sp500.loc['2001-11'].iloc[0].loc['Open']
simple_CAGR = (simple_cum_rateofreturn **(1/ranges)) - 1
simple_CAGR * 100

7.218223117512279

In [69]:
# rateofreturn = buy_price / sell_price
# cum_rateofreturn = 1 * rateofreturn