In [59]:
import pandas as pd

In [60]:
from pymongo import MongoClient

In [68]:
client = MongoClient('mongodb://python_jupyternote_mongo-mongodb-1:27017/pandas_db')

db_name = client['pandas_db']

In [69]:
quest_collection = db_name['phone_list']

In [70]:
mine_collection = db_name['mine']

In [71]:
search_conditions = { 
    "item": "call",  
    "network": "tesco",
    "network_type" : "mobile"
}

In [72]:
find_data = quest_collection.find(search_conditions)  
quest_data = list(find_data)

In [80]:
result = mine_collection.insert_many(quest_data)

In [83]:
find_data_all = quest_collection.find()  # 모든 데이터 검색
quest_data_all = list(find_data_all)

In [87]:
df_quest_list = pd.DataFrame(quest_data)

In [88]:
df_quest_list.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 15 entries, 0 to 14
Data columns (total 8 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   _id           15 non-null     object
 1   index         15 non-null     int64
 2   date          15 non-null     object
 3   duration      15 non-null     float64
 4   item          15 non-null     object
 5   month         15 non-null     object
 6   network       15 non-null     object
 7   network_type  15 non-null     object
dtypes: float64(1), int64(1), object(6)
memory usage: 1.1+ KB

In [93]:
df_quest_list[['item', 'network', 'network_type']].describe(include='object')

        item network network_type
count     15      15           15
unique     2       4            2
top     call   Tesco       mobile
freq      12       6           12

In [90]:
data_to_insert = df_quest_list.to_dict(orient='records')

In [77]:
quest_collection.insert_many(data_to_insert)

[{'_id': ObjectId('675b8ded4c8ebb511505b3d5'),
  'index': 0,
  'date': '15/10/14 06:58',
  'duration': 34.429,
  'item': 'data',
  'month': '2014-11',
  'network': 'data',
  'network_type': 'data'},
 {'_id': ObjectId('675b8ded4c8ebb511505b3d6'),
  'index': 1,
  'date': '15/10/14 06:58',
  'duration': 13.0,
  'item': 'call',
  'month': '2014-11',
  'network': 'Vodafone',
  'network_type': 'mobile'},
 {'_id': ObjectId('675b8ded4c8ebb511505b3d7'),
  'index': 2,
  'date': '15/10/14 14:46',
  'duration': 23.0,
  'item': 'call',
  'month': '2014-11',
  'network': 'Meteor',
  'network_type': 'mobile'},
 {'_id': ObjectId('675b8ded4c8ebb511505b3d8'),
  'index': 3,
  'date': '15/10/14 14:48',
  'duration': 4.0,
  'item': 'call',
  'month': '2014-11',
  'network': 'Tesco',
  'network_type': 'mobile'},
 {'_id': ObjectId('675b8ded4c8ebb511505b3d9'),
  'index': 4,
  'date': '15/10/14 17:27',
  'duration': 4.0,
  'item': 'call',
  'month': '2014-11',
  'network': 'Tesco',
  'network_type': 'mobile'},
 {'_id': ObjectId('675b8fef4c8ebb511505b3db'),
  'index': 0,
  'date': '15/10/14 06:58',
  'duration': 34.429,
  'item': 'data',
  'month': '2014-11',
  'network': 'data',
  'network_type': 'data'},
 {'_id': ObjectId('675b8fef4c8ebb511505b3dc'),
  'index': 1,
  'date': '15/10/14 06:58',
  'duration': 13.0,
  'item': 'call',
  'month': '2014-11',
  'network': 'Vodafone',
  'network_type': 'mobile'},
 {'_id': ObjectId('675b8fef4c8ebb511505b3dd'),
  'index': 2,
  'date': '15/10/14 14:46',
  'duration': 23.0,
  'item': 'call',
  'month': '2014-11',
  'network': 'Meteor',
  'network_type': 'mobile'},
 {'_id': ObjectId('675b8fef4c8ebb511505b3de'),
  'index': 3,
  'date': '15/10/14 14:48',
  'duration': 4.0,
  'item': 'call',
  'month': '2014-11',
  'network': 'Tesco',
  'network_type': 'mobile'},
 {'_id': ObjectId('675b8fef4c8ebb511505b3df'),
  'index': 4,
  'date': '15/10/14 17:27',
  'duration': 4.0,
  'item': 'call',
  'month': '2014-11',
  'network': 'Tesco',
  'network_type': 'mobile'},
 {'_id': ObjectId('675b92284c8ebb511505b3e1'),
  'index': 0,
  'date': '15/10/14 06:58',
  'duration': 34.429,
  'item': 'data',
  'month': '2014-11',
  'network': 'data',
  'network_type': 'data'},
 {'_id': ObjectId('675b92284c8ebb511505b3e2'),
  'index': 1,
  'date': '15/10/14 06:58',
  'duration': 13.0,
  'item': 'call',
  'month': '2014-11',
  'network': 'Vodafone',
  'network_type': 'mobile'},
 {'_id': ObjectId('675b92284c8ebb511505b3e3'),
  'index': 2,
  'date': '15/10/14 14:46',
  'duration': 23.0,
  'item': 'call',
  'month': '2014-11',
  'network': 'Meteor',
  'network_type': 'mobile'},
 {'_id': ObjectId('675b92284c8ebb511505b3e4'),
  'index': 3,
  'date': '15/10/14 14:48',
  'duration': 4.0,
  'item': 'call',
  'month': '2014-11',
  'network': 'Tesco',
  'network_type': 'mobile'},
 {'_id': ObjectId('675b92284c8ebb511505b3e5'),
  'index': 4,
  'date': '15/10/14 17:27',
  'duration': 4.0,
  'item': 'call',
  'month': '2014-11',
  'network': 'Tesco',
  'network_type': 'mobile'}]

In [78]:
df_phone_list = pd.DataFrame(quest_data)

In [79]:
df_phone_list.info()
##

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 15 entries, 0 to 14
Data columns (total 8 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   _id           15 non-null     object
 1   index         15 non-null     int64
 2   date          15 non-null     object
 3   duration      15 non-null     float64
 4   item          15 non-null     object
 5   month         15 non-null     object
 6   network       15 non-null     object
 7   network_type  15 non-null     object
dtypes: float64(1), int64(1), object(6)
memory usage: 1.1+ KB