In [1]:
import pandas as pd

In [18]:
import requests

uri = 'https://finance.yahoo.com/markets/'
response = requests.get(uri)

In [19]:
df_read_html = pd.read_html(io=response.text, encoding='utf-8')

/tmp/ipykernel_30920/4071735307.py:1: FutureWarning: Passing literal html to 'read_html' is deprecated and will be removed in a future version. To read from a literal string, wrap it in a 'StringIO' object.
  df_read_html = pd.read_html(io=response.text, encoding='utf-8')

In [20]:
type(df_read_html), len(df_read_html)

(list, 20)

In [21]:
type(df_read_html), len(df_read_html)

(list, 20)

In [29]:
df_read_html[1]

                Symbol  Unnamed: 1                      Price Change %
0             FTSE 100         NaN    8,308.33 +6.71 (+0.08%)   +0.08%
1               CAC 40         NaN   7,441.23 +17.83 (+0.24%)   +0.24%
2                DAX P         NaN  20,415.36 +16.20 (+0.08%)   +0.08%
3   Euronext 100 Index         NaN    1,470.79 +3.34 (+0.23%)   +0.23%
4      EURO STOXX 50 I         NaN    4,968.53 +9.18 (+0.19%)   +0.19%
5          MSCI EUROPE         NaN    2,082.38 +4.36 (+0.21%)   +0.21%
6  British Pound Index         NaN      127.54 -0.13 (-0.10%)   -0.10%
7           Euro Index         NaN      104.96 -0.32 (-0.30%)   -0.30%

In [30]:
df_read_html[1].info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 8 entries, 0 to 7
Data columns (total 4 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   Symbol      8 non-null      object
 1   Unnamed: 1  0 non-null      float64
 2   Price       8 non-null      object
 3   Change %    8 non-null      object
dtypes: float64(1), object(3)
memory usage: 388.0+ bytes

In [33]:
df_read_html[1].describe()

       Unnamed: 1
count         0.0
mean          NaN
std           NaN
min           NaN
25%           NaN
50%           NaN
75%           NaN
max           NaN

In [34]:
df_read_html[1].describe(include="object")

          Symbol                    Price Change %
count          8                        8        8
unique         8                        8        7
top     FTSE 100  8,308.33 +6.71 (+0.08%)   +0.08%
freq           1                        1        2