In [8]:
import pandas as pd

In [9]:
employee_ids = [101, 102, 103, 104, 105]
names = ["Alice", "Bob", "Charlie", "David", "Eva"]
salaries = [70000, 80000, 120000, 90000, 110000]
departments = ["HR", "IT", "Finance", "IT", "Finance"]

In [10]:
name_series = pd.Series(data=names, index=employee_ids)
salary_series = pd.Series(data=salaries, index=employee_ids)

In [23]:
name_series

101      Alice
102        Bob
103    Charlie
104      David
105        Eva
dtype: object

In [24]:
salary_series

101     70000
102     80000
103    120000
104     90000
105    110000
dtype: int64

In [11]:
salary_employees = salary_series[salary_series >= 90000]
salary_info = name_series[salary_employees.index]

In [25]:
salary_employees

103    120000
104     90000
105    110000
dtype: int64

In [26]:
salary_info

103    Charlie
104      David
105        Eva
dtype: object

In [12]:
salary_employees

103    120000
104     90000
105    110000
dtype: int64

In [13]:
average_salary = salary_series.mean()

In [15]:
overavg_employees = name_series[salary_series [salary_series >= average_salary].index]
overavg_employees

103    Charlie
105        Eva
dtype: object

In [16]:
department_series = pd.Series(data=departments, index=employee_ids)

In [17]:
salary_department_series = salary_series.astype(str) + ", " + department_series

In [18]:
increased_salary_series = salary_series * 1.10

In [21]:
it_department_salaries = salary_series[department_series == "IT"]
it_salary_total = it_department_salaries.sum()
it_department_salaries

102    80000
104    90000
dtype: int64

In [22]:
it_salary_total

170000